/* Feito por: Camila */

body {
    background-color: #FFD4A0;
  }
  
  .navbar {
    background-color: #FFD4A0 !important;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    margin: 0 10px;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .text-green {
    color: #0b130b;
    font-family: 'Style Script', cursive;
  }
  
  .text-black {
    color: #000000;
    font-family: 'Roboto', sans-serif;
  }
  
  .custom-font {
    font-family: 'Style Script', cursive;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .card-text {
    background-color: #F68712;
  }
  
  .card-title {
    background-color: #F68712;
  }
  
  .card-body {
    background-color: #F68712;
  }
  
  .img-logo {
    width: 5rem;
  }