        /* Essa parte foi feita por: Felipe e Fernanda. */
        /* Style de todos os elementos e responsividade */
        .star-img {
            max-width: 20px; 
            margin-right: 5px; 
            }
            main{
                display: flex;
                justify-content: center;
            }
            footer{
                display: flex;
                justify-content: center;
            }
            body{
                background-color: #FFD4A0;
            }
            
            .img-logo {
                max-width: 200px;
            }
            .navbar {
                background-color: #FFD4A0 !important;
            }
            
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
               
              }
              .a{
                text-decoration: none;
                color: inherit;
              }
                    .card {
                        margin: 0 10px;
                    }
              .text-green {
                color: #19AB14;
              }
              
              .text-black {
                color: #000000;
              }
              
              .custom-font {
                font-family: 'Style Script', cursive;
              }
                    .text-green {
                        color: #19AB14;
                        font-family: 'Style Script', cursive;
                        
                    }
            
                    .text-black {
                        color: #000000;
                        font-family: 'Roboto', sans-serif;
                    }
            
                    .card-text {
                background-color: #F68712;
                
            }
            .card-title{
                background-color: #F68712;
            }
            .card-body{
                background-color: #F68712;
                
            }
            .card {
                    border-radius: 20px;
                    overflow: hidden; 
                    background-color: #ffffff00;
                    border: #000000;
                    
                }
                .btn{
                    background-color: #19AB14;
                    
                }
                .d-flex{
                    padding-bottom: 15px;
                    justify-content: center;
                }
            
                @media (max-width:600px){
                    .img-logo{
                        display: none;
                    }
                }
            .item-titulo {
                color: #19AB14;
            }